body{
    background: url(./assets/Background.svg) no-repeat top center/cover;
    margin: 0;
} 
body *{
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    overflow-x: hidden;
}

#imageLogo {
    width: 125px;
    height: 125px;

    background-image: url(./assets/LOGO\ \(3\).svg);
    background-size: cover;

    border-radius: 50%;
    border: 2.5px solid black;
}


header {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 552px;
    height: 290px;

    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

header  h1 {
    margin: 10px 10px;
    width: 330px;
    
    font-family: 'Inter', sans-serif;
    font-size: 32px;
}
header  p {
    font-family: 'Inter', sans-serif;
    font-weight: 500px;
    line-height: 1.563rem;
}

/* BOTOES DE LINKS*/
ul {
    width: 80%;
    max-width: 653px;
    height: 479px;

    font-family: 'Inter', sans-serif;
    list-style: none;

    display: flex;
    flex-direction: column;

    gap: 30px;
    margin-bottom: 70px;

    z-index: 2;
}
     
 li{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 8px;
  
    background-color: #3498DB;
    border: 2.5px solid black;
    border-radius: 12px; 
  
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

}
a {
    text-decoration: none;
    font-weight: 500;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: 0;
    
    height: 100%;
    width: 100%;
}
#web {
    width: 29px;
    height: 28px;

    background-image: url("assets/Website_icon_R.svg");
    background-size: contain;

    
}
#instagram {
    width: 29px;
    height: 28px;

    background-image: url("assets/Instagram_icon_L.svg");
    background-size: contain;

}
#drive {
    width: 29px;
    height: 28px;

    background-image: url("assets/drive.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
#localizacao {
    width: 29px;
    height: 28px;

    background-image: url("assets/localizacao.svg");
    background-size: contain;
}
#whatsapp {
    width: 29px;
    height: 28px;

    background-image: url("assets/whatsapp.svg");
    background-size: contain;
    background-repeat: no-repeat;
}
  
  /* pseudo-selector*/
  li:hover {
    background-color: #3498DB;
    border: 2px solid black;

    cursor: pointer;
    transform: scale(1.05); /* Aumenta em 10% */
    transition: transform 0.5s; /* Adiciona uma transição suave */
  }

  /* intersects */
#intersect1{
    width: 210px;    
    height: 740px;

    position: absolute;
    right: 0;

    z-index: -1;

    background-image: url(./assets/Vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

#intersect2{
    width: 540px;
    height: 450px;

    position: absolute;
    left: 0;
    bottom: 0;

    z-index: -1;

    background-image: url(./assets/Intersect.svg);
    background-repeat: no-repeat;
    background-size: contain;

}

@media screen and (max-width: 840px) {
    #intersect2{
        width: 440px;
        height: 350px;
    }
    #intersect1{
        width: 176px;
        height: 620px;
    }
}

@media screen and (max-width: 720px){
    header{
        margin-bottom: 0;
    }
    header h1{
        font-size: 20px;
    }

    #imageLogo{
        width: 85px;
        height: 85px;
    }

    #intersect2{
        width: 390px;
        height: 300px;
    }
    #intersect1{
        width: 126px;
        height: 570px;
    }

    #web, #whatsapp, #drive, #instagram, #localizacao {
        width: 19px;
        height: 18px;
    }
    p{
        width: 250px;
    }
    #p2 {
        visibility: hidden;
    }
    ul{
        margin-top: -30px;
        height: 400px;
    }
    p,a{
        font-size: 16px;
    }
    
}
@media screen and (max-width:600px) {
    header{
        height: 270px;
        margin-bottom: 0;
    }
    p{
        width: 250px;
    }
    h1{
        font-size: 20px;
    }
    p, a{
        font-size: 14px;
    }
    #p2 {
        visibility: hidden;
    }
    ul{
        margin-top: -30px;
        height: 400px;
    }
    #intersect2{
        width: 370px;
        height: 280px;
    }
    #intersect1{
        width: 106px;
        height: 550px;
    }
    
}